# # --- API Keys ---
# # Gemini API Key from https://aistudio.google.com/
# GEMINI_API_KEY=your_api_key_here

# # --- Server Configuration ---
# HOST=0.0.0.0
# PORT=8000
# DEBUG=True

# # --- AI Settings ---
# DEFAULT_MODEL=gemini-1.5-flash
# OLLAMA_MODEL=qwen2-vl
# OLLAMA_BASE_URL=http://localhost:11434

# # --- Robot Profiles ---
# ROBOT_NAME=Omni-Core
# LANGUAGE=en



USE_LOCAL_CAMERA=True
LOCAL_CAMERA_INDEX=0
PORT=8000
HOST=0.0.0.0
OLLAMA_MODEL=moondream
OLLAMA_HOST=http://localhost:11434

# Ngrok Tunneling (For remote 4G control)
# Get yours from https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTH_TOKEN=your_token_here
